<div class="container">
    <div class="row">
        <div class="col align-content-center">
            <canvas id="canvas" height="551" width="551" style="background-color:wheat; border:solid;"></canvas>
        </div>
    </div>
</div>
<script src="~/js/Gol.js"></script>