<div class="container p-5">
    <div class="row">
        <div typeof="button" class="col">
            <canvas id="canvas" height="551" width="551" style="background-color:wheat; border:solid;"></canvas>
        </div>
    </div>
    <div class="row-cols-1 text-center">
        <button type="button" id="clearBtn" class="golBtn">
            <span class="bi-eraser-fill"></span>
        </button>
        <button type="button" id="playBtn" class="golBtn">
            <span class="bi-play-fill"></span>
        </button>
    </div>
</div>
<script src="~/js/Gol.js"></script>