@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="d-flex flex-column">
    <div>
        <partial name="/Views/Home/Resume/Greeting.cshtml" />
    </div>
    <div>
        <partial name="/Views/Home/Resume/_experienceAble2.cshtml" />
    </div>
</div>