@{
    ViewData["Title"] = "Resume";
}
    <div class="text-center">
        <object 
            type="application/pdf"
            data="~/lib/files/Resume 2023.pdf"
            height="1000px"
                style="
        width : 50%;
        height: 1000;
        overflow : hidden;">
        </object>
        <!--
        <iframe frameborder="0"
                src="~/lib/files/resume 2023.pdf" height="100%" width="100%">
        </iframe>
        -->
    </div>
