@{
    ViewData["Title"] = "Resume";
}
<div class="container-fluid">
    <div class="row">
        <iframe height="100%" width="100%" style="overflow:hidden;height:100%;width:100%" frameborder="0" src="http://docs.google.com/viewer?url=[https://drive.google.com/file/d/1lC-OP7uAsZKq9SV1Oo6fVcmbPCkgDhG6/view?usp=sharing]&embedded=true"></iframe>
    </div>
</div>