@{
    ViewData["Title"] = "GoL";
}
<div class="container golPage">
    <div class="row text-center">
        <h1 class="display-4">Conway's Game of Life</h1>
        <h2 class="text-center">Click in the area below to activate cells. Then press the play button to watch it run.</h2>
    </div>
    <div class="row text-center justify-content-center">
        <partial name="/Views/Home/_GoL.cshtml" />
    </div>
</div>
