@{
    ViewData["Title"] = "GoL";
}
<div class="container golPage">
    <div class="row text-center">
        <h1 class="display-4">Conway's Game of Life</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="pt-5">
                <h4 class="h4 text-center">How the game of life works</h4>
                Click on cells to turn them on. Cells live or die based on these rules.
                <hr />
                <ul>
                    <li>
                        Dead cells with 3 neighbors will turn on
                    </li>
                    <li>
                        Live cells with 2 or 3 neighbors stay alive
                    </li>
                    <li>
                        Live cells with less than 2 or more than 3 neighbors die
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center col">
            <partial name="/Views/Home/_GoL.cshtml" />
        </div>
        <div class="col">

        </div>
    </div>
</div>
