@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">If you can imagine, this site is under construction.</h1>
    <h2 class="text-center">Please excuse the goofyness as I get myself in shape.</h2>
</div>
