@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color:aliceblue">
    <div class="row text-center">
        <h1 class="display-4">Hi! My name is William Kenney.</h1>
        <h2 class="text-center">I'm an IT professional with 5 years experience.</h2>
    <div>Here's my <a target="_blank" href="https://www.linkedin.com/in/william-kenney-564a5990">linkedin</a> as a consolation.</div>
    </div>
    <div class="row text-center justify-content-center">
    </div>
</div>
