@{
    ViewData["Title"] = "Home Page";
}

<div class="container welcome">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid meIndex" src="@Url.Action("DisplayImage", "Home", new{imageName = "myself.png"})" />
        </div>
        <div class="col">
            <div class="container">
                <h1 class="text-center">William Kenney.</h1>
                <h5 class="text-center text-muted">I'm an IT professional and budding programmer.</h5>
                <hr />
                <p class="text-center">Thanks for stopping by. I put this site together mostly to learn and attach to job applications.
                    I am currently looking for work so feel free to reach out using the contact dropdown above.
                </p>
            </div>
        </div>
    </div>
</div>
