@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi! Thanks for stopping by :)</h1>
    <h2 class="text-center">Please excuse the goofyness as I get myself in shape.</h2>
    <div>Here's my <a target="_blank" href="https://www.linkedin.com/in/william-kenney-564a5990">linkedin</a> as a consulation.</div>
</div>
