html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../lib/Images/background.jpg');
}

.cat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    visibility: hidden
}

.cat:hover{
    visibility: visible;
}

.catHidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
}

.catHidden:hover + .cat{
    visibility: visible;
}

/*Asign class to parts of scrolling page to keep it maximized based on screen size*/
.content-block{

}

/*
@media screen and (min-width:990px){
    .navbar .container-fluid, .navbar-expand-sm .navbar-collapse, .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
}

.navbar{
    width:10%;
    height: 100vh;
    align-items: flex-start;
    background-color:aquamarine;
}*/

.navbar-brand{
    position:absolute;   
}

.experienceBlock{
    background-image: url(../lib/Images/linepaper.jpg);
    width:80%;
    border:solid;
    border-radius:25px;
    padding:25px;
}

.experienceBlockTitle{
    
}

.golBtn{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}