@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "_experienceAble2";
}

<div class="float-start">
    <img src="@Url.Action("DisplayImage", "Home", new{imageName = "cropped-ColoredLogo_Able2.png"})" />
</div>
