@{
    ViewData["Title"] = "_experienceAble2";
}

<div class="experienceBlock container">
    <div class="row">
        <img class="col-auto" src="@Url.Action("DisplayImage", "Home", new{imageName = "cropped-ColoredLogo_Able2.png"})" />
        <div class="col text-end text-black-50">
            Desktop Technician
            <br />
            Able2 - Elmira, NY
            <br />
            April 2018 - October 2021
        </div>
    </div>
    <div class="row">
        Able2 was my first job in the tech field and I learned a lot in the two and half years I spent there. I wore many hats there as the team
        was just my direct manager and I. He handled the infrustructure while I spent most days fielding tickets. I handled account
        creation and access managment through active directory and Google admin, troubleshot low level network issues, and worked with end user's general problems.
        On occasion we would have larger projects like running new network wire in the dental clinic, or updating all of the PC's to Windows 10.
    </div>
</div>
